#d1 {
	max-width: 100%;
	height: 50px;
	background-color: rgb(18,84,134);
}
#d2 {
	max-width: 100%;
	height: 50px;
	background-color: rgb(175,2,30);
	//background-color: silver;
}

table.maintable > tbody > tr > td {
	border-bottom: medium rgb(18,84,134) solid;
	border-top: medium silver solid;
	border-right: none;
	border-left: none;
	padding: 35px 5px;
	/*border: thin solid;
	border: thin black solid;*/
}
.maintable > tbody > tr:last-child > td {
	/*border-bottom: medium rgb(55,124,43) dashed;*/
	border-bottom: none;
}
.maintable > tbody > tr:first-child > td {
	border-top: none;
}
/*.maintable > tbody> tr:nth-child(even) {
	background-color:green !important;
}
.maintable > tbody> tr:nth-child(odd) {
	background-color:yellow !important;
} */
h1, h2, h3 {
	text-align: center;
	color: white;
	/*text-decoration: underline;
	padding: 50px 0px 0px 0px;*/
	background-color: rgb(18,84,134);
}

h1 > a, h2 > a, h3 > a {
	color: white;
}
sp {
	color: rgb(255, 0, 0);
}

